/* You can add custom styles here. */

// @import "plugins/numbered";

code.has-jax {font: inherit;
              font-size: 100%;
              background: inherit;
              border: inherit;
              color: #515151;}